%h1 Rails 7 Primer

%p Hi #{@user.name},
%p
  Welcome to Rails 7 primer! Please click on the link below to activate your
  account:

= link_to 'Activate',
  edit_account_activation_url(@user.activation_token, email: @user.email)
