- provide(:title, "All Users")
%h1{class: "text-4xl font-extrabold dark:text-white"} All Users

= will_paginate

%ul{class: "max-w-md divide-y divide-gray-200 dark:divide-gray-700"}
  = render @users

= will_paginate
